@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Recursive:wght@300;400;600&display=swap");
body {
  font-family: "Recursive", sans-serif;
  font-family: "Handlee", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0FFF3;
}

p {
  font-size: 20px;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  color: #01235A;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.header-area {
  padding: 40px 0;
}
.header-area__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-area__logo {
  flex-basis: 24%;
  color: #11CBD7;
}
.header-area__menu {
  flex-basis: 61%;
}
.header-area__title {
  display: inline-block;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 40px;
}
.header-area__menu {
  flex-basis: 50%;
}
.header-area__icon {
  font-size: 50px;
  padding-right: 10px;
}
.header-area__box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}
.header-area__item {
  margin-left: 30px;
}
.header-area__link {
  text-transform: capitalize;
  font-size: 22px;
  transition: 0.5s;
  color: #FA4659;
}
.header-area__link:hover {
  color: #11CBD7;
  border-bottom: 1px solid #E64848;
}
.header-area__join {
  flex-basis: 14%;
}
.header-area__button {
  padding: 17px 25px;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 10%;
  border: none;
  background-color: #11CBD7;
  color: #fff;
  margin-top: 14px;
}

.banner-area {
  background-color: #11CBD7;
}
.banner-area__banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.banner-area__content {
  flex-basis: 58%;
  padding-top: 6%;
}
.banner-area__title {
  text-transform: capitalize;
  font-size: 24px;
  color: #fff;
  padding: 16px 0;
}
.banner-area__heading {
  font-size: 70px;
  text-transform: capitalize;
  color: #fff;
  padding: 30px 0;
}
.banner-area__description {
  line-height: 30px;
}
.banner-area__link {
  margin: 32px 0;
  text-transform: capitalize;
  padding: 12px 16px;
  background-color: #333;
  color: #fff;
  border-radius: 7px;
  transition: 0.3s;
}
.banner-area__link:hover {
  color: #11CBD7;
}
.banner-area__image {
  flex-basis: 38%;
}
.banner-area__photo {
  border: 10px solid #F0FFF3;
}

.services-area__service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services-area__single-service {
  flex-basis: 32%;
  margin-bottom: 25px;
  background-color: #C6F1E7;
  border-radius: 10px;
  transition: 0.8s;
}
.services-area__single-service:hover {
  background-color: #C6F1E7;
  opacity: 0.5;
}
.services-area__icon {
  display: inline-block;
  font-size: 40px;
  padding: 18px;
  color: #11CBD7;
}
.services-area__heading {
  display: inline-block;
  text-transform: capitalize;
  font-size: 26px;
  color: #FA4659;
}
.services-area__description {
  padding: 10px;
  padding-left: 74px;
  line-height: 30px;
}

.about-area__about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-area__image {
  flex-basis: 35%;
}
.about-area__photo {
  border-radius: 1%;
  border: 8px solid #c6f1e7;
}
.about-area__content {
  flex-basis: 60%;
  margin-top: 7%;
}

.section__title {
  text-transform: capitalize;
  font-size: 24px;
  color: #11cbd7;
  font-weight: normal;
  position: relative;
}
.section__title::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 2px;
  background-color: #11CBD7;
  top: 50%;
  left: 22%;
}
.section__heading {
  text-transform: capitalize;
  font-size: 40px;
  margin: 19px 0;
  color: #fa4659;
}
.section__description {
  line-height: 30px;
}

.about-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 61px 0;
}
.about-right__image {
  flex-basis: 25%;
}
.about-right__btn {
  text-transform: capitalize;
  padding: 10px 20px;
  background-color: #11CBD7;
  margin: 26px 0;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.about-right__btn:hover {
  background-color: #C6F1E7;
}
.about-right__content {
  flex-basis: 68%;
}
.about-right__item {
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.about-right__link {
  border-bottom: 1px solid #ddd;
  color: #333;
}
.about-right__icon {
  color: #11CBD7;
  padding-right: 5px;
}

.title-area {
  text-align: center;
}
.title-area__title {
  text-transform: uppercase;
  font-size: 18px;
  color: #11CBD7;
  font-weight: normal;
  position: relative;
}
.title-area__title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #11CBD7;
  top: 50%;
  left: 37%;
}
.title-area__title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #11CBD7;
  top: 50%;
  right: 37%;
}
.title-area__heading {
  text-transform: capitalize;
  font-size: 45px;
  margin-bottom: 45px;
  margin-top: 10px;
}

.classes-area__classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.classes-area__single-class {
  flex-basis: 32%;
  background-color: #C6F1E7;
  border: 2px solid #C6F1E7;
}
.classes-area__heading {
  text-align: center;
  margin: 20px;
  font-size: 28px;
  text-transform: capitalize;
  color: #FA4659;
}
.classes-area__description {
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}
.classes-area__box {
  text-align: center;
}
.classes-area__item {
  text-transform: capitalize;
  font-size: 17px;
  margin-bottom: 15px;
  border-bottom: 1px solid #AED6E0;
  padding: 10px;
}
.classes-area__span {
  font-weight: bold;
  margin: 0 30px;
  border-right: 1px solid #AED6E0;
  padding-right: 8px;
}
.classes-area__btn {
  text-transform: capitalize;
  padding: 8px 20px;
  background-color: #11CBD7;
  margin: 16px 0;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.classes-area__btn:hover {
  background-color: #C6F1E7;
}

.teacher-area__teacher {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
.teacher-area__single {
  flex-basis: 25%;
  text-align: center;
  margin-bottom: 50px;
}
.teacher-area__photo {
  border-radius: circle;
  padding: 0px 0;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  transition: 0.8s;
}
.teacher-area__name {
  text-transform: capitalize;
  margin-top: 20px;
  color: #11CBD7;
}
.teacher-area__subject {
  text-transform: capitalize;
}

.seat-area__seat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.seat-area__content {
  flex-basis: 58%;
}
.seat-area__box {
  margin: 10px 0;
}
.seat-area__item {
  padding: 7px 0;
}
.seat-area__link {
  font-size: 20px;
}
.seat-area__form {
  flex-basis: 40%;
  text-align: center;
  background-color: #11CBD7;
}
.seat-area__heading {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
  background: #333;
  padding: 20px 0;
}
.seat-area__input, .seat-area__select {
  width: 80%;
  padding: 12px 0;
  margin-bottom: 12px;
  text-transform: capitalize;
  padding-left: 10px;
  font-size: 17px;
  border-radius: 6px;
  border: none;
}
.seat-area__btn {
  text-transform: capitalize;
  padding: 15px 30px;
  background-color: #333;
  margin: 10px 0;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  color: #fff;
  width: 40%;
}
.seat-area__btn:hover {
  background-color: #C6F1E7;
}
.seat-area___content-btn {
  text-transform: capitalize;
  padding: 12px 16px;
  background-color: #11CBD7;
  margin: 10px 0;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.seat-area___content-btn:hover {
  background-color: #C6F1E7;
}

.testimonial-area__testimonial {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.testimonial-area__single {
  flex-basis: 32%;
}
.testimonial-area__box {
  padding: 5px;
  background-color: #C6F1E7;
  margin-bottom: 15px;
  box-shadow: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 7px;
}
.testimonial-area__description {
  display: inline;
  line-height: 30px;
}
.testimonial-area__icon {
  color: #11CBD7;
  font-size: 30px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.parent__img {
  flex-basis: 31%;
  text-align: center;
  padding: 10px;
}
.parent__content {
  flex-basis: 68%;
  margin-top: 20px;
}
.parent__photo {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.parent__name {
  font-size: 20px;
  color: #11CBD7;
}

.blog-area__blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-area__single {
  flex-basis: 32%;
  background-color: #C6F1E7;
  border: 2px solid #C6F1E7;
}
.blog-area__heading {
  margin: 20px 0;
  font-size: 27px;
  text-transform: capitalize;
  color: #FA4659;
}
.blog-area__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px 0;
}
.blog-area__item {
  align-items: center;
  flex-basis: 32%;
}
.blog-area__icon {
  padding-right: 10px;
}
.blog-area__description {
  line-height: 30px;
  padding: 5px;
}
.blog-area__btn {
  text-transform: capitalize;
  padding: 12px 16px;
  background-color: #11CBD7;
  margin: 20px 0;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.blog-area__btn:hover {
  background-color: #C6F1E7;
}

.gallery-area__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-area__single {
  flex-basis: 31%;
  margin-bottom: 35px;
  transition: 0.3s;
  opacity: 0.7;
}
.gallery-area__single:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.contact-area__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-area__form {
  flex-basis: 63%;
}
.contact-area__address {
  flex-basis: 36%;
}
.contact-area__input, .contact-area__textarea {
  width: 80%;
  font-size: 15px;
  padding: 7px 0;
  padding-left: 5px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.contact-area__textarea {
  height: 100px;
}
.contact-area__btn {
  text-transform: capitalize;
  padding: 12px 18px;
  background-color: #333;
  margin: 15px 0;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  color: #fff;
}
.contact-area__btn:hover {
  background-color: #C6F1E7;
}

.footer-area {
  background-color: #11CBD7;
}
.footer-area__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-area__single {
  flex-basis: 24%;
  padding: 20px;
}
.footer-area__title {
  display: inline-block;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 15px;
  color: #FA4659;
}
.footer-area__icon {
  font-size: 30px;
  padding-right: 10px;
}
.footer-area__description {
  line-height: 30px;
  margin-bottom: 20px;
  border-right: 2px solid #FA4659;
}
.footer-area__box {
  display: flex;
  justify-content: space-between;
}
.footer-area__item {
  margin-top: 20px;
}
.footer-area__link {
  font-size: 11px;
}
.footer-area__icon {
  font-size: 28px;
  transition: 0.3s;
}
.footer-area__icon:hover {
  color: #C6F1E7;
}
.footer-area__input {
  width: 80%;
  font-size: 20px;
  padding: 7px 0;
  margin-bottom: 10px;
  padding-left: 10px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
}
.footer-area__btn {
  text-transform: capitalize;
  padding: 8px 12px;
  background-color: #333;
  margin: 8px 0;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  color: #fff;
  width: 80%;
  text-align: center;
  border-radius: 7%;
}
.footer-area__btn:hover {
  background-color: #C6F1E7;
}

.ul-box__heading {
  display: inline;
  text-transform: capitalize;
  padding-left: 10px;
}
.ul-box__item {
  margin-bottom: 20px;
  color: #05235A;
}
.ul-box__icon {
  font-size: 19px;
}
.ul-box__span {
  display: block;
  padding-left: 23px;
}

.map__iframe {
  width: 100%;
  height: 300px;
  border: 1px solid #333;
}

.footer-bottom {
  text-align: center;
  padding: 19px 0;
  border-top: 1px solid #333;
  background-color: #11CBD7;
}
.footer-bottom____description {
  text-transform: capitalize;
}

.slick-dots {
  position: absolute;
  left: 50%;
  top: 100%;
  display: flex;
  transform: translateX(-8%);
}
.slick-dots li {
  margin: 0 5px;
  border-radius: 50%;
}
.slick-dots li button {
  padding: 5px;
  border-radius: 50%;
  border: navajowhite;
  color: wheat;
  background-color: #333;
  font-size: 10px;
  font-weight: bold;
}
.slick-dots li.slick-active button {
  background: #11CBD7;
}

.slick-next.slick-arrow,
.slick-prev.slick-arrow {
  display: none;
}

/* Pill style */
#scrollUp {
  bottom: 20px;
  right: 20px;
  background-color: #FA4659;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: none;
  opacity: 0.9;
  padding: 15px 15px;
  border-radius: 50%;
  transition: background 200ms linear;
  -webkit-backface-visibility: hidden;
  font-style: italic;
  font-weight: bold;
  -webkit-clip-path: polygon(50% 0%, 75% 15%, 100% 35%, 78% 70%, 88% 98%, 49% 88%, 6% 98%, 23% 69%, 0% 35%, 23% 16%);
          clip-path: polygon(50% 0%, 75% 15%, 100% 35%, 78% 70%, 88% 98%, 49% 88%, 6% 98%, 23% 69%, 0% 35%, 23% 16%);
}

#scrollUp:hover {
  background-color: #333;
  font-style: normal;
}

.slicknav_menu {
  display: none;
}

.slicknav_nav a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  color: #11CBD7;
}

.slicknav_menu {
  background-color: #F0FFF3;
}

.slicknav_btn {
  background-color: #11CBD7;
}

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .header-area__icon {
    font-size: 35px;
  }
  .header-area__title {
    font-size: 32px;
  }
  .header-area__box {
    margin-top: 12px;
  }
  .header-area__item {
    margin-left: 28px;
  }
  .header-area__link {
    font-size: 20px;
  }
  .header-area__button {
    padding: 14px 25px;
    margin-top: 3px;
  }
  .teacher-area__single {
    flex-basis: 23%;
  }
  .section__title::after {
    left: 27%;
  }
  .title-area__title::before {
    left: 33%;
  }
  .title-area__title::after {
    right: 33%;
  }
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
  p {
    font-size: 15px;
    line-height: 27px;
  }
  .header-area__icon {
    font-size: 25px;
  }
  .header-area__title {
    font-size: 23px;
  }
  .header-area__box {
    margin-top: 3px;
  }
  .header-area__item {
    margin-left: 23px;
  }
  .header-area__link {
    font-size: 17px;
  }
  .header-area__button {
    padding: 12px 18px;
    margin-top: -5px;
  }
  .banner-area__heading {
    font-size: 60px;
    padding: 25px 0;
  }
  .services-area__icon {
    font-size: 29px;
    padding: 15px;
  }
  .services-area__heading {
    font-size: 20px;
  }
  .services-area__description {
    line-height: 27px;
  }
  .section__title {
    font-size: 18px;
  }
  .section__title::after {
    left: 26%;
  }
  .section__heading {
    font-size: 30px;
    margin: 10px 0;
  }
  .section__description {
    line-height: 27px;
  }
  .about-right {
    margin: 13px 0;
  }
  .about-right__btn {
    padding: 12px 20px;
    font-size: 16px;
  }
  .about-right__item {
    font-size: 14px;
  }
  .title-area__title::before {
    left: 29%;
  }
  .title-area__title::after {
    right: 29%;
  }
  .title-area__heading {
    font-size: 40px;
  }
  .classes-area__heading {
    margin: 15px;
    font-size: 18px;
  }
  .classes-area__item {
    font-size: 13px;
  }
  .classes-area__btn {
    font-size: 15px;
  }
  .seat-area__link {
    font-size: 14px;
  }
  .seat-area___content-btn:hover {
    background-color: #c6f1e7;
  }
  .seat-area___content-btn {
    font-size: 14px;
    padding: 8px 12px;
  }
  .seat-area__heading {
    font-size: 30px;
    padding: 15px 0;
  }
  .seat-area__input,
.seat-area .seat-area__select {
    padding: 10px 0;
    font-size: 14px;
  }
  .seat-area__btn {
    padding: 8px 20px;
    font-size: 14px;
  }
  .teacher-area__single {
    flex-basis: 23%;
  }
  .teacher-area__name {
    font-size: 18px;
  }
  .blog-area__heading {
    margin: 10px 0;
    font-size: 18px;
  }
  .blog-area__btn {
    padding: 8px 12px;
    font-size: 14px;
  }
  .footer-area__icon {
    font-size: 18px;
    transition: 0.3s;
  }
  .footer-area__title {
    font-size: 20px;
  }
  .ul-box__heading {
    font-size: 18px;
  }
  .ul-box__span {
    font-size: 14px;
  }
  .footer-area__input {
    width: 100%;
    font-size: 14px;
  }
  .footer-area__description {
    line-height: 27px;
    margin-bottom: 0px;
  }
  .footer-area__btn {
    padding: 8px 12px;
    font-size: 14px;
  }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }
  p {
    font-size: 18px;
    line-height: 27px;
  }
  .header-area__header {
    justify-content: center;
  }
  .header-area__logo {
    flex-basis: 100%;
  }
  .header-area__menu {
    flex-basis: 100%;
  }
  .header-area__box {
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
    display: none;
  }
  .header-area__join {
    flex-basis: 100%;
    margin-left: 40%;
  }
  .header-area__link {
    font-size: 18px;
  }
  .banner-area__banner {
    justify-content: center;
  }
  .banner-area__content {
    flex-basis: 100%;
  }
  .banner-area__heading {
    font-size: 51px;
    padding: 18px 0;
  }
  .banner-area__image {
    flex-basis: 100%;
    border-bottom: 3px solid #11CBD7;
  }
  .services-area__single-service {
    flex-basis: 100%;
    justify-content: center;
  }
  .services-area__heading {
    font-size: 23px;
  }
  .about-area__about {
    justify-content: center;
  }
  .about-area__image {
    flex-basis: 100%;
  }
  .about-area__content {
    flex-basis: 100%;
  }
  .section__title {
    font-size: 16px;
  }
  .section__title::after {
    left: 35%;
  }
  .section__heading {
    font-size: 30px;
  }
  .about-right__btn {
    padding: 8px 12px;
    font-size: 11px;
  }
  .about-right__item {
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 5px;
  }
  .title-area__title::before {
    left: -5%;
  }
  .title-area__title::after {
    right: -5%;
  }
  .title-area__heading {
    font-size: 30px;
  }
  .classes-area__classes {
    justify-content: center;
  }
  .classes-area__single-class {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .classes-area__heading {
    font-size: 22px;
  }
  .seat-area__seat {
    justify-content: center;
  }
  .seat-area__content {
    flex-basis: 100%;
  }
  .seat-area___content-btn {
    padding: 8px 12px;
    font-size: 14px;
  }
  .seat-area__link {
    font-size: 14px;
  }
  .about-right__icon {
    padding-right: 1px;
  }
  .seat-area__form {
    flex-basis: 100%;
    text-align: center;
  }
  .seat-area__btn {
    padding: 15px 20px;
    font-size: 14px;
  }
  .teacher-area__single {
    flex-basis: 46%;
    text-align: center;
  }
  .teacher-area__photo {
    height: 200px;
    width: 200px;
  }
  .teacher-area__name {
    font-size: 18px;
  }
  .teacher-area__subject {
    font-size: 13px;
  }
  .testimonial-area__box {
    padding: 5px 0;
    width: 100%;
  }
  .testimonial-area__single {
    flex-basis: 100%;
  }
  .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .parent__img {
    flex-basis: 100%;
    text-align: center;
    padding: 10px;
  }
  .slick-dots {
    position: absolute;
    left: 50%;
    top: 100%;
    display: flex;
    transform: translateX(-20%);
  }
  .blog-area__blog {
    justify-content: center;
  }
  .blog-area__single {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .blog-area__heading {
    margin: 20px 0;
    font-size: 22px;
    text-transform: capitalize;
    color: #fa4659;
  }
  .blog-area__btn {
    padding: 8px 12px;
    font-size: 14px;
  }
  .footer-area__single {
    flex-basis: 100%;
    padding: 9px;
    margin-bottom: 44px;
    text-align: center;
  }
  .footer-area__title {
    font-size: 22px;
  }
  .footer-area__input {
    width: 100%;
    font-size: 16px;
  }
  .footer-area__btn {
    font-size: 14px;
  }
  .ul-box__heading {
    font-size: 25px;
  }
  .contact-area__contact {
    justify-content: center;
  }
  .contact-area__form {
    flex-basis: 100%;
    text-align: center;
  }
  .contact-area__input,
.contact-area .contact-area__textarea {
    width: 100%;
  }
  .contact-area__address {
    flex-basis: 100%;
    text-align: center;
  }
  .slicknav_menu {
    display: block;
  }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .main {
    width: 450px;
  }
}/*# sourceMappingURL=style.css.map */