.about-area {
  &__about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__image {
    flex-basis: 35%;
  }
  &__photo {
    border-radius: 1%;
    border: 8px solid #c6f1e7;
  }
  &__content {
    flex-basis: 60%;
    margin-top: 7%;
  }
}

// common code
.section{
@include sectiton-title;
}


.about-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 61px 0;
  &__image {
    flex-basis: 25%;
  }
  &__btn {
    @include btn(10px 20px, 26px 0, #11CBD7);

  }
  &__content {
    flex-basis: 68%;
  }
  &__item {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  &__link {
    border-bottom: 1px solid #ddd;
    color:$black_color;
  }
  &__icon{
    color: $primary_color;
    padding-right: 5px;
  }
}



