.contact-area {
  &__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__form {
    flex-basis: 63%;
  }
  &__address {
    flex-basis: 36%;
  }
  &__input,&__textarea {
    width: 80%;
    font-size: 15px;
    padding: 7px 0;
    padding-left: 5px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  &__textarea{
    height: 100px;
  }
  &__btn{
    @include btn(12px 18px, 15px 0, #333);
    color: $white_color;
  }
}
